.login{
  background-image: linear-gradient(#2999C2, #2c5be3);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0px 30px;
  min-height: calc(100vh - 60px - 60px);
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  &__logo{
    width: 80%;
    display: block;
    margin: 0 auto;
  }
}
