@import "./Vars.scss";

@import "./components/Forms.scss";

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;  
    box-sizing: border-box;
}

h1, h2, h3{
    color: #fff;
    font-weight: bold;
}

body{
    background-color: rgb(212, 212, 212);
    min-height: 100vh;
}

.container{
    min-height: calc(100vh - 60px);
    padding: 0 20px;
}


.btn--primary{
    background-color: #FFBA00;
    //background-color: #FAFBFC;
    background-color: #321461;
    background-color: #73cf41;
    color: #fff;
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 4px;
    border: solid 2px #73cf41;
    cursor: pointer;
    transition: linear 0.2s;
    font-size: 16px;
    &:hover{
        transition: linear 0.2s;
        background-color: transparent;
        color: #321461;
    }
}

