body {
    background: linear-gradient(to bottom, rgba(41,153,194,1) 0%, rgba(9,130,252,1) 100%);
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    width: 100%;
}
  .header {
    background-color: #2999C2;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__img {
    width: 200px;
    margin-top: 0px;
    margin-left: 10px;
  }
  
  .header__menu {
    margin-right: 30px;
  }
  
  .header__menu ul {
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -14px;
  }
  
  .header__menu:hover ul, ul:hover {
    display: block;
  }
  
  .header__menu li {
    margin: 10px 0px;
  }
  
  .header__menu li a {
    color: white;
    text-decoration: none;
  }
  
  .header__menu li a:hover {
    text-decoration: underline;
  }
  
  .header__menu--profile {
    margin-right: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .header__menu--profile img {
    margin-right: 8px;
    width: 40px;
  }
  
  .header__menu--profile p {
    margin: 0px;
    color: white;
  }

  .header__input {
      display: flex;

  }

  .main_title--inputSearch {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    margin: 10px;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    height: 30px;
    padding: 0px 20px;
    width: 40%;
    outline: none;
  }

  .main_title--inputPlace {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 30px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    height: 30px;
    padding: 0px 20px;
    width: 40%;
    outline: none;
  }

  .button--search {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 2px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    height: 34px;
    letter-spacing: 1px;
    margin: 10px; 
  }
  .button--search:hover{
      background-color: #0468CC;
      border:none ;
  }

  .categories__buttons{
    background-color: blue;
    padding: 0px 10px;
  }
    .button--categories{
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
   
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
    transition: 450ms -webkit-transform;
      transition: 450ms transform;
      transition: 450ms transform, 450ms -webkit-transform;
    }
    .button--categories:hover{
        background-color: #0468CC;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
  .place {
    background-color: black;
    width: 100%;
    height: 220px;
    margin: 20;
    margin: 20px;
    border-radius: 30px;
    overflow: scroll;
    padding-left: 30px;
    width: 100%;
      /* height: 430px; */
    position: relative;
  }

  .place__container{
    display: grid;
    grid-template: 1fr 240px 300px 64px 400px   / 70% 1fr;
    grid-template-areas: "images images"
                         "place map"
                         "description map"
                         "comment map"
                         "opinions recomendations";
  }

  .place__images {
    overflow: scroll;
    grid-area: images;
    box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.75);
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    /* overflow: hidden; */
    position: relative;
    display: inline-block;
    width: 100%;
    height: 220px;
    margin: 10px 10px 5px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    padding: 10px;
    /* background-color: black; */
  }

  .place-item__img {
    width: 200px;
    margin: 5px;
    height: 200px;
    border-radius: 10px;
    align-self: center;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .place__description{
    box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.45);
    border: 1px solid #FFFFFF;
    grid-area: description;
    border-radius: 20px;
    margin: 5px 5px 5px 10px;
    /* background-color: teal; */
  }
  .place__item{
    box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.45);
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    margin: 5px 5px 5px 10px;
      grid-area: place;
      display: flex;
      
      /* background-color: thistle; */
  }

  .place__map{
    box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.45);
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    grid-area: map;
    margin: 5px 10px 5px 5px;
    /* background-color: tomato; */
  }
  .place__comment{
    grid-area: comment;
    box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.45);
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    margin: 5px 5px 5px 10px;
    /* background-color: violet; */
  }
  .place__recomendations{
    box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.45);
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    grid-area: recomendations;
    margin: 5px 10px 5px 5px;
    /* background-color: goldenrod; */
  }
  .place__opinions{
    box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.45);
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    grid-area: opinions;
    margin: 5px 5px 5px 10px;
    /* background-color: wheat; */
  }

  .img--place{
    width: 400px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    margin: 10px;
  }

  .place--title{
    font-size: 60px;
    font-weight: bold;
    margin: 0;
    margin-top: 10px;
  }

  .place--category{
      font-size: 20px;
  }
  .place--city{
    font-size: 15px;
}


.descripcion__container{
    margin: 10px;
}
.place__comment{
    display: flex;
}

.place_comment--inputComment{
    background-color: white
    border: 2px solid #b3b3b3;
    border-radius: 30px;
    /* font-family: "Muli", sans-serif; */
    font-size: 16px;
    height: 35px;
    margin-left: 10px;
    /* padding: 0px 20px; */
    width: 70%;
    outline: none;
    display: flex;
    align-self: center;
    color: #000000;
}